<h1>Disciplines</h1>
<% @disciplines.each do |discipline| %>
	<p>Discipline: <%= discipline.name %></p>	
	<%= image_tag discipline.photo(:medium) %>
	<% link_to "Edit", edit_admin_discipline_path(discipline) %>
	<%= link_to 'delete discipline?', admin_discipline_path(discipline),
            :confirm => 'Are you sure?', :method => :delete %> 
<% end %>
<br>
<%= link_to "Add Discipline", new_admin_discipline_path %>